<div class="card profile-card shadow mt-4">
    <div class="card-body text-center">
        <div class="d-flex justify-content-center mb-3">
            <i class="bi bi-person-circle fs-1"></i>
        </div>
        <h3 class="card-title mb-0">
            {{ users().name }}
        </h3>
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item bg-transparent">
                <i class="bi bi-envelope-fill me-2"></i>{{ users().email }}
            </li>
            <li class="list-group-item bg-transparent">
                <i class="bi bi-geo-alt-fill me-2"></i>{{ users().address.city }}
            </li>
            <li class="list-group-item bg-transparent">
                <i class="bi bi-briefcase-fill me-2"></i>{{ users().phone }}
            </li>
            <a [routerLink]="['/userDetail', users().id]" class="btn btn-primary">
                Ver Detalles
              </a>
        </ul>
    </div>
</div>